

.content img{
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 1em;
    border: 1px solid grey;
}
.content ol{
    list-style-type: decimal;
}
.content pre code{
    border-radius: 1em;
}
